<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-bar">
    <ion-tab-button tab="cars">
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Cars</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="findCar">
      <ion-icon name="eye-outline"></ion-icon>
      <ion-label>Find</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="compareCar">
      <ion-icon name="git-compare-outline"></ion-icon>
      <ion-label>Compare</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="logout">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
