/*
Joshua Garner
22502883
*/

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 0px ;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    width: 150px;
    position: center;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}

.container{
    width: 100%;
    min-height: 25vh;
    padding: 0%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchbar{
    width: 40%;
    max-width:  700;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #009688;
}
.searchbar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}
::placeholder{
    color: #cac7ff;
}
.searchbar button img{
    width: 25px;
}
.searchbar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

button:focus {
    background-color: #009688;
}

.product-container {
    width: 90%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 15px;
    justify-items: center;
    margin: 80px auto 0;
}
.product-card {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: cadetblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 6px solid #FF731A;
    border-radius: 25px;
    cursor: pointer;
}
.product-card img {
    max-width: 100%;
    margin-bottom: 20px;
}
.product-card h2 {
    font-size: 25px;
    margin-bottom: 10px;
}
.product-card p {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.product-btn {
  background-color: #FF731A;
  border: 3px solid black;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 25px;
  cursor: pointer;
}


.sort {
justify-content: center;
display: inline-block;
justify-items: center;
position: relative;
}

select {
display: inline-block;
width: 200px;
height: 35px;
margin: 0 auto;
border-radius: 25px;
overflow: hidden;
border: 3px solid #FF731A;
background-color: #009688;
color: white;
font-style: bold;
top: 35%;
left: 375%;
transform: translateY(-1750%);
justify-items: center;
position: relative;
font-weight: bold;
text-align: center;
}

.filter {
display: inline-block;
justify-content: center;
justify-items: center;
}